.header {
    width: 95%;
    height: 30px;
    margin: auto;
    border: 1px solid red;
}

#icono {
    float: left;
    border: 1px solid rgb(248, 252, 0);
    text-align: center;
    margin-left: 1%;
    margin-block-start: .5%;
}

#subtitulos {
    float: right;
    border: 1px solid rgb(51, 150, 153);
    text-align: center;
    margin-right: 1%;
    margin-block-start: .5%;
}

section {
    width: 95%;
    margin: auto;
    border: 1px solid green;
}

article {
    width: 90%;
    height: 15%;
    margin-left: 5%;
    margin-block-start: 2%;
    border: 1px solid red;
    text-align: center;
}

.titulo {
    width: 15%;
    height: 15%;
    margin-left: 60%;
    margin-block-start: 2%;
    border: 1px solid red;
    text-align: center;
}

#imagen {
    float: left;
    width: 15%;
    height: 15%;
    margin-left: 2%;
    margin-top: 2%;
    border: 1px solid red;
    text-align: center;
}

h1 {
    color: royalblue;
}

.footer {
    width: 95%;
    height: 30px;
    margin: auto;
    border: 1px solid gray;
}